html {
	height: 100%;
}

body {
	background: #c0c0c0;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: hidden;
}

table {
	width: 100%;
}

td {
	padding-left: 3mm;
	padding-right: 3mm;
	min-width: 2cm;
}

input {
	width: 100%;
}

.drag-title {
	-webkit-app-region: drag;
	width: 100%;
	line-height: 1.3em;
}

.sample-command {
	white-space: nowrap;
}
