html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: hidden;
}

table {
	width: 100%;
	font-size: inherit;
	margin-top: 0.5rem;
}

td {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	min-width: 2.9rem;
}

input {
	width: 100%;
}

p,
span {
	user-select: none;
}
