<div>
	<table>
		<tr>
			<td colspan="7">
				<p><b>SSH tunneling</b></p>

				<p>
					Enabled lines will execute the following command: &emsp;
					<code class="sample-command">
						ssh&nbsp;-p&nbsp;&#60;server_ssh_port&#62;&nbsp;-L&nbsp;&#60;local_port&#62;:&#60;remote_address&#62;:&#60;remote_port&#62;&nbsp;&#60;user&#62;@&#60;server&#62;
					</code>
				</p>

				<p>See ssh documentation for more informations.</p>
			</td>
		</tr>
		<tr style="font-weight: 800;">
			<td><span> label </span></td>
			<td><span> local_port </span></td>
			<td><span> remote_address </span></td>
			<td><span> remote_port </span></td>
			<td><span> user </span></td>
			<td><span> server </span></td>
			<td><span> server_ssh_port </span></td>
			<td colspan="3"></td>
		</tr>
		<tr v-for="(sshTunnel, index) in sshTunnels">
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.label"
					@change="update('label', index, $event.target.value)"
					style="min-width: 6.3rem;"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.externalPort"
					@change="update('externalPort', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.internalHost"
					@change="update('internalHost', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.internalPort"
					@change="update('internalPort', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.user"
					@change="update('user', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.targetHost"
					@change="update('targetHost', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<input
					:disabled="sshTunnel.isStarted"
					:value="sshTunnel.targetSshPort"
					@change="update('targetSshPort', index, $event.target.value)"
					type="text"
					spellcheck="false"
				/>
			</td>
			<td>
				<button v-if="sshTunnel.isStarted" v-on:click="stop(index)">disable</button>
				<button v-else :disabled="duplicatedExternalPorts" v-on:click="start(index)">enable</button>
			</td>
			<td>
				<button :disabled="sshTunnel.isStarted" v-on:click="remove(index)">remove</button>
			</td>
		</tr>
		<tr>
			<td colspan="7"></td>
			<td><button v-on:click="add">add</button></td>
		</tr>
	</table>
</div>
